main {
    background: rgb(238, 181, 106);
    border: 1.2px solid brown;
    margin-top: 12px;
    width: 100%;    
}
@media screen and (min-width: 500px) {
    main {
        min-height: calc(100vh - 218px);
    }
}
@media screen and (max-width: 500px) {
    main {
        min-height: calc(100vh - 150px);   
    }
    main p, main div {
        font-size: 10pt;
    }
}